@model UserAccountData
@if(Model != null)
{
	<form action="@ViewData["Action"]" method="post">
		@Html.AntiForgeryToken()
		<fieldset>
			<legend>Change user-account data</legend>
			<div>
				@{ var metadata = ViewData.ModelMetadata.Properties.First(property => property.PropertyName.Equals("Notes", StringComparison.OrdinalIgnoreCase)); }
				<label for="user-account-notes-input">@metadata.GetDisplayName()</label>
				<input id="user-account-notes-input" name="@metadata.PropertyName" type="text" value="@Model.Notes" />
			</div>
			<div>
				@{ metadata = ViewData.ModelMetadata.Properties.First(property => property.PropertyName.Equals("ImpersonateWithClaimsToWindowsTokenService", StringComparison.OrdinalIgnoreCase)); }
				<input@(Html.Raw(Model.ImpersonateWithClaimsToWindowsTokenService ? " checked=\"checked\"" : string.Empty)) id="user-account-use-service-input" name="@metadata.PropertyName" type="checkbox" value="true" />
				<label for="user-account-use-service-input">@metadata.GetDisplayName()</label>
			</div>
			<button type="submit">Save</button>
		</fieldset>
	</form>
}